<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
    <style>
        td{
            padding: 20px;
        }
    </style>
</head>
<body>
    <table border="2" cellspacing="0" cellpadding="0">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>Action</td>
        </tr>

        <% users.forEach(function(user){ %>

        <tr>
            <td>
                <%-user.id %>
            </td>
            <td>
                <%-user.name %>
            </td>
            <td>
                <%-user.email %>
            </td>
            <td>
                <button class="btn btn-info">
                    <a href='/user/edit/<%-user.id %>'>
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                </button>
                <button class="btn btn-danger">
                    <a class="text-white" href='/user/delete/<%-user.id %>'>
                        <i class="fa-solid fa-trash-can" style="color: white;"></i>
                    </a>
                </button>
            </td>
        </tr>
        <% }); %>

    </table>

    <script src="/js/bootstrap.min.js"></script>
</body>
</html>